body {
  background: #ECF2F7;
}

body * {
  box-sizing: border-box;
}

h2,h1 {
  margin-top: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "aside main main"
  "aside main main";
  grid-gap: 40px;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 70px 1fr;
}

img {
  max-width: 100%;
}

.site-container {
  margin-top: 40px;
}

.siteContent {
  grid-area: main;
}